.darkmode {
    display: flex;
    align-items: center;
    width: 70px;
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;
    justify-content: space-between;
    padding: 7px;
    box-shadow: inset 0px 2px 3px #c2c2c2;
    position: relative;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
}
.btn-dark{
    background-color: rgb(41 53 70) !important;
    box-shadow: inset 0px -1px 2px #70769c !important;

}
.btn-darkmode {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: rgb(255 184 78);
    top: 10%;
    right: 4.5%;
    box-shadow: 0px 0px 2px #ffb84e;
    transition: all ease-in-out 0.5s;

}

.btn-dark .btn-darkmode {
    transition: all ease-in-out 0.5s;
    background-color: rgb(100 100 100) !important;
    box-shadow: inset 0px 0px 3px rgb(107 111 137) !important;
    top: 10% !important;
    right: 60% !important;
}