.video-container {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

.video-container:hover {
    transform: scale(1.01);
}

.video-player {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* .video-player::-webkit-media-controls {
    background-color: rgba(0, 0, 0, 0.6);
} */

.video-player:fullscreen {
    border-radius: 0;
}